include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Flomni — обработка заказов вашего магазина в мессенджерах', 'i/Flomni_logo.svg')

    body
        .wrapper
            .base
                div.header
                    .section_inner.clearfix
                        .logo_block
                            a.logo(href='/')
                                img(src='i/Flomni_logo.svg' alt='Flomni_logo')

                        .mob_menu
                            a.mob_menu_btn.openMobMenu(href='#')
                    
                        .menu_holder: ul.main_menu
                            li.menu_item
                                a.menu_link.scrollTo(href='#how')
                                    span.link_text Как работает
                            li.menu_item
                                a.menu_link.scrollTo(href='#tasks')
                                    span.link_text Какие задачи решает
                            li.menu_item
                                a.menu_link.scrollTo(href='#price')
                                    span.link_text Сколько стоит
                            
                        ul.user_menu
                            li
                                a.btn_v1.join_btn.btn_blue_white.openJoinPopup(href='#' onclick="checkGoal('connect_buttonHead')") 
                                    span Подключиться

                div.main_content
                    .section.section_v1
                        .hero_block
                            .video_holder
                                video#bgvid.video_block(poster="i/videohive.png", muted="muted", loop="loop")
                                    source(src="video/using-smartphone-at-sunset.webm", type="video/webm")
                                    source(src="video/using-smartphone-at-sunset.mp4", type="video/mp4")

                            .section_inner
                                .hero_slider
                                    .heroSlider
                                        .slide
                                            .hero_caption Снизьте число отказов по заказам
                                                
                                            .hero_text
                                                p 90% заказов подтверждает робот
                                                p Покупатель получает уведомление о заказе мгновенно
                                                p Аврал, ночь, внезапный наплыв заказов в выходные и праздники — заказ будет обработан идеально! 
                                        .slide
                                            .hero_caption Увеличьте поток повторных продаж
                                                
                                            .hero_text
                                                p Автоматические рекомендации при подтверждении заказа
                                                p Сценарии, исключающие человеческий фактор
                                                p Прозрачная аналитика
                                                
                                        .slide
                                            .hero_caption Сократите затраты на обслуживание клиентов
                                                
                                            .hero_text
                                                p Откажитесь от дорогих SMS в пользу мессенджеров
                                                p Подключайте коллцентр только тогда, когда это действительно необходимо — до 90% заказов можно подтверждать автоматически
                                                
                                    .slide_conrols
                                        .slide_prev.heroSliderPrev
                                        .slide_next.heroSliderNext
                                    
                                .hero_controls
                                    p.text_center
                                        a.btn_v2.join_btn.btn_orange.openJoinPopup(href='#' onclick="checkGoal('connect_buttonTopBanner')")
                                            span Подключиться
                                            
                                    p.text_center
                                        a.gl_link.link_blue.scrollTo(href='#how') или узнать о Flomni больше

                            .section_inner
                                .service_info
                                    .caption_v1 Сервис для обработки заказов ваших&nbsp;клиентов в мессенджерах
                                    ul.service_list
                                        li
                                            .service_item
                                                .service_img: img(src='i/dove.svg' alt='dove')
                                                p Гарантия доставки сообщений
                                                
                                        li
                                            .service_item
                                                .service_img: img(src='i/online-shop.svg' alt='onlinop.svg')
                                                p Допродажи прямо в&nbsp;мессенджере
                                                
                                        li
                                            .service_item
                                                .service_img: img(src='i/magic-wand2.svg' alt='magicd2.svg')
                                                p 
                                                    | Готовые 
                                                    span._wnw авто-сценарии
                                                    |  обработки заказа
                                                
                                        li
                                            .service_item
                                                .service_img: img(src='i/customer-service.svg' alt='customer-service')
                                                p Отличная техподдержка и&nbsp;кейсы&nbsp;от сервиса
                                #how.customer_service_block
                                    //-.customer_service_clouds
                                        img(src='i/soc_clouds.png' alt='soc_clouds')
                                    ul.customer_service_list
                                        li
                                            .customer_s_unit
                                                .customer_s_icon
                                                    .i-telegram 
                                                .customer_s_text Telegram
                                                    
                                        li
                                            .customer_s_unit
                                                .customer_s_icon
                                                    .i-viber
                                                .customer_s_text Viber
                                                    
                                        li
                                            .customer_s_unit
                                                .customer_s_icon
                                                    .i-fb_m
                                                .customer_s_text Facebook Messenger
                                                    
                                        li
                                            .customer_s_unit
                                                .customer_s_icon
                                                    .i-vk
                                                .customer_s_text Vkontakte
                                                    
                                        li
                                            .customer_s_unit
                                                .customer_s_icon
                                                    .i-whatsup
                                                .customer_s_text 
                                                    span WhatsApp
                                                    span.clr_blue.customer_s_index скоро
                                    
                                    
                                    .text_center
                                        a.flomni_btn.btn_v1
                                            img(src='i/flomni_btn.svg' alt='flomni_btn')
                                            
                                    .customer_s_info
                                        .caption_v1.text_center Обслуживание клиентов в мессенджерах в одном окне
                                        p FLomni позволяет компаниям взаимодействовать со своими клиентами через мессенджеры. Мы представляем надежный, простой в использовании сервис, который делает возможным работу с клиентами в удобных им каналах связи (Telegram, VK etc.), используя единое окно - личный кабинет Flomni. Автоматизированные сценарии обработки типовых обращений позволяют снижать нагрузку с операторов и экономить ваши деньги. Интерактивные возможности дают возможность продавать более эффективно и позволяют вам увеличить прибыль

                    #tasks.section.section_v2
                        .section_inner
                            .tasks_holder
                                .tasks_block
                                    .tasks_list
                                        .caption_v2 Какие задачи помогаем решить
    
                                        .taskSlider.task_slider
                                            +loop_while(1)
                                                .task_unit
                                                    .caption_v1 Подтверждение заказа 2.0
                    
                                                    p Экономьте на дорогих SMS и звонках, позволяя клиенту подтвердить заказ в мессенджере, есди для него это удобно. Клиент может подтвердить дату доставки, сделать уточнения и скорректировать заказ. Типовые сценарии не требует участия живого оператора с вашей стороны и полностью автоматизированы.
                                                    
                                                .task_unit
                                                    .caption_v1 Возврат клиентов
                    
                                                    p Верните покупателей, которые давно не покупали в вашем магазине. Экономьте на дорогих SMS и звонках, позволяя клиенту подтвердить заказ в мессенджере, есди для него это удобно. Клиент может подтвердить дату доставки, сделать уточнения и скорректировать заказ. Типовые сценарии не требует участия живого оператора с вашей стороны и полностью автоматизированы.
                                                .task_unit
                                                    .caption_v1 Повышение качества обслуживания
                    
                                                    p Верните покупателей, которые давно не покупали в вашем магазине. Экономьте на дорогих SMS и звонках, позволяя клиенту подтвердить заказ в мессенджере, есди для него это удобно. Клиент может подтвердить дату доставки, сделать уточнения и скорректировать заказ. Типовые сценарии не требует участия живого оператора с вашей стороны и полностью автоматизированы.
    
                                    .tasks_display
                                        .task_msg_slider
                                            .task_msg_header
                                                .task_msg_time 10:30
                                                .task_msg_battery 100%
                                                .task_msg_caption Интернет-магазин
                                            .displaySlider.display_slider
                                                .display_slide
                                                    .task_msg._left
                                                        p Александр, здравствуйте. Вы оформили заказ №312 на сумму 2 536 рублей. Подтверждаете?
                                                        p.taskQuestion
                                                            span.task_link Да, подтвердить заказ 
                                                        p
                                                            span.task_link Отменить заказ

                                                    .task_msg._right.taskAnswer
                                                        p Да, подтверждаю

                                                    .task_msg._left
                                                        p Как Вам удобнее осуществить доставку? Самовывозом — бесплатно, можно забрать уже завтра в Pickpoint. Курьером — 250 рублей, привезем послезавтра.

                                                        p
                                                            span.task_link Самовывозом
                                                        p.taskQuestion
                                                            span.task_link Курьером

                                                    .task_msg._right.taskAnswer
                                                        p Хорошо, доставка будет осуществлена по указанном при оформлении заказа адресу: Москва, ул. 8 марта, 1, кв. 357. По времени подвезем с 10:00 до 14:00 послезавтра.
                                                        p.taskQuestion
                                                            span.task_link Подтверждаю
                                                        p
                                                            span.task_link Уточнить дату и время доставки

                                                    .task_msg._right.taskAnswer
                                                        p Спасибо за оформление заказа! Курьер позвонит за час. Если у Вас возникнут вопросы или уточнения по заказу — просто напишите в этот чат.
                                                        
                                                .display_slide
                                                    .task_msg._left
                                                        p Мария, здравствуйте. Пол года назад Вы покупали детский стульчик для кормления. Чтобы порадовать Вас сегодня и завтра мы дарим скидку 25% на детские турники. Например, шведскую стенку можно купить всего за 1 753 руб. 
                                                            
                                                        p: img(src='i/shvedskaya_stenka_s_zavoda_poetomu_deshevle_mat_v_podarok_skidki_2.jpg')
                                                            
                                                        p Давайте я расскажу как воспользоваться этой скидкой?

                                                        p.taskQuestion
                                                            span.task_link Да, расскажите
                                                        p
                                                            span.task_link Мне не интересно

                                                    .task_msg._right.taskAnswer
                                                        p Да, расскажите

                                                    .task_msg._left
                                                        p Все, что требуется — просто нажать на кнопку «Купить» ниже. После этого наш менеджер свяжется для согласования удобного времени заказа.

                                                        p.taskQuestion
                                                            span.task_link Купить
                                                        p
                                                            span.task_link Напомнить завтра
                                                    
                                                    .task_msg._right.taskAnswer
                                                        p Мария, спасибо за Ваш заказ! Ему присвоен номер 351. Мы свяжемся с Вами в течение часа для уточнения деталей доставки.

                                                .display_slide
                                                    .task_msg._left
                                                        p Максим, здравствуйте. Меня зовут Антон, менеджер по качеству сети сервисов Автогигант. Я очень хочу, чтобы наш сервис и качество работ Вас всецело удовлетворяло. Сможете уделить ару минут небольшому опросу?

                                                        p.taskQuestion
                                                            span.task_link Да
                                                        p
                                                            span.task_link Нет, напомните через день
                                                        p
                                                            span.task_link Нет, прошу больше меня не беспокоить

                                                    .task_msg._right.taskAnswer
                                                        p Да

                                                    .task_msg._left
                                                        p Как бы Вы оценили качество работ по пятибальной шкале?

                                                        p
                                                            span.task_link 1
                                                        p
                                                            span.task_link 2
                                                        p
                                                            span.task_link 3
                                                        p
                                                            span.task_link 4
                                                        p.taskQuestion
                                                            span.task_link 5

                                                    .task_msg._right.taskAnswer
                                                        p 5
                                                            
                                                    .task_msg._left
                                                        p Спасибо! Был ли персонал достаточно вежлив, все ли рассказали, не осталось ли вопросов?
                                                        p
                                                            span.task_link 1
                                                        p
                                                            span.task_link 2
                                                        p
                                                            span.task_link 3
                                                        p.taskQuestion
                                                            span.task_link 4
                                                        p
                                                            span.task_link 5
                                                            
                                                    .task_msg._right.taskAnswer
                                                        p 4

                                                    .task_msg._left.taskQuestion
                                                        p Максим, могли бы уточнить, как мы можем улучшить свой сервис?

                                                    .task_msg._right.taskAnswer
                                                        p Обновите мебель в зоне рецепции, а так - все нормально
                                                        
                                                    .task_msg._left.taskQuestion
                                                        p Спасибо, Максим, Вас понял, учтем Ваше мнение! Будем рады видеть Вас у нас в сервисе Автогигант!

                                                //-+loop_while(3)
                                                    .display_slide
                                                        .task_msg._left
                                                            p Вы оформили заказ №312 на сумму 1 521 руб. Подтверждаете?
                                                            p.taskQuestion
                                                                a(href='#') Да, подтверждаю
                                                            p
                                                                a(href='#') Хочу уточниить состав заказа
                                                            p
                                                                a(href='#') Нет, отмените заказ
    
                                                        .task_msg._right.taskAnswer
                                                            p Да, подтверждаю
    
                                                        .task_msg._left
                                                            p Как бы Вы хотели получить заказ?
                                                            p
                                                                a(href='#') Самовывоз
                                                            p.taskQuestion
                                                                a(href='#') Курьерская доставка
    
                                                        .task_msg._right.taskAnswer
                                                            p Сколько стоит курьерская доставка?
    
                                                        .task_msg._left
                                                            p.taskQuestion 250 рублей до квартиры
    
                                                        .task_msg._right.taskAnswer
                                                            p Сколько стоит курьерская доставка?
                                                            
                                                        .task_msg._left
                                                            p Вы оформили заказ №312 на сумму 1 521 руб. Подтверждаете?
                                                            p
                                                                a(href='#') Да, подтверждаю
                                                            p
                                                                a(href='#') Хочу уточниить состав заказа
                                                            p.taskQuestion
                                                                a(href='#') Нет, отмените заказ

                                                        .task_msg._right.taskAnswer
                                                            p Заказ отменен
                                                        
                                        | <br>
                                        .task_msg_slider_controls
                                            .taskSliderPrev.slide_prev.scrollTo(data-href='#tasks')
                                            .taskSliderNext.slide_next.scrollTo(data-href='#tasks')

                                .mob_center
                                    a.btn_v2.try_btn.btn_red.openJoinPopup(href='#' onclick="checkGoal('connect_buttonTopBanner')")
                                        span Попробовать
                                    
                    .section.section_v3
                        .section_inner
                            .robot_block
                                .robot_info
                                    .robot_icon 
                                        img(src='i/robot.svg' alt='robot')
                                    .caption_v3 90% вопросов по заказам обслуживает робот. <br>Менеджер подключается в нестандартных ситуациях
                                .robot_info
                                    .robot_profitably
                                        img(src='i/coin.svg' alt='coin')
                                        span выгодно
                                    .caption_v3 Дешевле, чем обработка <br> колл-центром по телефону или SMS
                        
                            ul.robot_features
                                li
                                    .robot_feature
                                        .robot_feature_icon
                                            img(src='i/chatting.svg' alt='chatting')
                                        .caption_v3 SMS — односторонняя связь, Flomni — двустороннее общение
                                        
                                li
                                    .robot_feature
                                        .robot_feature_icon
                                            img(src='i/chat-2.svg' alt='chat-2')
                                        .caption_v3 Вы попадаете в список диалогов с друзьями, а не в ящик со спамом
                            #price.tariff_block
                                .caption_v2.text_center Тарифные планы
                                
                                ul.tariff_list
                                    li 
                                        .tariff_unit
                                            .tariff_name Базовый
                                            .tariff_price 1200 ₽/мес
                                            ul.tariff_options
                                                li Все каналы
                                                li 1 пользователь
                                                li до 1 500 контактов
                                                li Безлимитные сообщения
                                            .tariff_controls
                                                a.btn_v2.tariff_btn.btn_white_orange.openJoinPopup(href='#' onclick="checkGoal('connect_buttonPrice1')")
                                                    span Подключить
                                
                                    li 
                                        .tariff_unit
                                            .tariff_name Оптимальный
                                            .tariff_price 3000 ₽/мес
                                            ul.tariff_options
                                                li Все каналы
                                                li 3 пользователя
                                                li до 4 000 контактов
                                                li Безлимитные сообщения
                                            .tariff_controls
                                                a.btn_v2.tariff_btn.btn_white_orange.openJoinPopup(href='#' onclick="checkGoal('connect_buttonPrice2')")
                                                    span Подключить
                                
                                    li 
                                        .tariff_unit
                                            .tariff_name Премиум
                                            .tariff_price 7000 ₽/мес
                                            ul.tariff_options
                                                li Все каналы
                                                li 5 пользователей
                                                li до 10 000 контактов
                                                li Безлимитные сообщения
                                            .tariff_controls
                                                a.btn_v2.tariff_btn.btn_white_orange.openJoinPopup(href='#' onclick="checkGoal('connect_buttonPrice3')")
                                                    span Подключить
                            
                            .additional_services
                                .caption_v2.text_center 
                                    | С каждым обработанным заказом 
                                    span.mob_hidden <br>
                                    | вы накапливаете аудиторию 
                                    span.mob_hidden <br>
                                    | для применения других решений Flomni
                                
                                .web_pages
                                    .web_pages_bg: img(src='i/webpages_mob.png' alt='webpages_mob')
                                    
                                    .additional_service_item._service_1(data-0='opacity: 0;' data-50-bottom-center='opacity: 0; transform: translate(0%,10%);' data-150-top='opacity: 1; transform: translate(0,0);')
                                        .additional_s_img
                                            img(src='i/webpage_1.png' alt='webpage 1')
                                        .additional_s_text(data-0='opacity: .5;' data-50-bottom-center='opacity: .5; transform: translate(0%,-80px);' data-150-top='opacity: 1; transform: translate(0,0);') 
                                            | Допродажи, реально  увеличивающие&nbsp;средний чек.
                                    .additional_service_item._service_2(data-0='opacity: 0;' data-100-bottom-center='opacity: 0; transform: translate(0%,15%);' data-150-top='opacity: 1; transform: translate(0,0);')
                                        .additional_s_img
                                            img(src='i/webpage_2.png' alt='webpage 2')
                                        .additional_s_text(data-0='opacity: .5;' data-100-bottom-center='opacity: .5; transform: translate(0%,-80px);' data-150-top='opacity: 1; transform: translate(0,0);') 
                                            | Уведомления об акциях и новинках, которые читают
                                    .additional_service_item._service_3(data-0='opacity: 0;' data-150-bottom-center='opacity: 0; transform: translate(0%,20%);' data-150-top='opacity: 1; transform: translate(0,0);')
                                        .additional_s_img
                                            img(src='i/webpage_3.png' alt='webpage 3')
                                        .additional_s_text(data-0='opacity: .5;' data-150-bottom-center='opacity: .5; transform: translate(0%,-80px);' data-150-top='opacity: 1; transform: translate(0,0);') 
                                            | Сценарии реактивации, проверенные на практике
                                    .additional_service_item._service_4(data-0='opacity: 0;' data-200-bottom-center='opacity: 0; transform: translate(0%,25%);' data-150-top='opacity: 1; transform: translate(0,0);')
                                        .additional_s_img
                                            img(src='i/webpage_4.png' alt='webpage 4')
                                        .additional_s_text(data-0='opacity: .5;' data-200-bottom-center='opacity: .5; transform: translate(0%,-80px);' data-150-top='opacity: 1; transform: translate(0,0);') 
                                            | Сбор обратной связи от клиентов, чтобы стать лучше конкурентов
                                        
                    .section.section_v4
                        .section_inner
                            .faq_block
                                .caption_v2 Частые вопросы

                                .faq_question Нужен ли программист для внедрения?
                                .faq_answer Нет. Вся интеграция ваших аккаунтов с Flomni происходит в несколько кликов без привлечения программиста.
                                        
                                .faq_question Много времени будет уходить на переписку?
                                .faq_answer Нет. Большую часть работы можно автоматизировать — настроить автоматические ответы и сценарии и даже добавить чат-бота. И вся эти настройки производятся в интерфейсе сервиса без привлечения программиста.
                                        
                                .faq_question Это всё сложно. Надо разбираться. Я лучше по-старинке.
                                .faq_answer Мы ведём вас по процессу внедрения с момента подачи заявки до полной настройки и интеграции сервиса на вашей стороне. Также мы предосталяем примера и лучшие практики применения Flomni для того, чтобы вы могли по максимому использовать его возможности.
                                    
                            .text_center
                                a.btn_v3.faq_btn.btn_blue.openJoinPopup(href='#' onclick="checkGoal('connect_buttonFAQ')")
                                    span Посмотреть в действии
                                    
                    .section.section_v5
                        .section_inner
                            .caption_v2.text_center Компании уже используют мессенджеры
                            .client_slider
                                .clientSlider
                                    .client_block.slide
                                        ul.clients_previews
                                            li
                                                img(src='i/cdek_screen.png' alt='cdek preview')
                                        .client_info
                                            .client_logo
                                                img(src='i/cdek.png' alt='cdek')
                                        
                                            p Мы автоматизировали обработку посылок логистической компании CDEK, переведя коммуникацию с получателями в Viber, Telegram, Messenger и VK. Покупатель получает уведомление о готовности товара к доставке, может уточнить адрес курьерской доставки или пункт самовывоза, выбирает дату и время доставки. Нагрузка на контактный центр снизилась на 35%.
                                                
                                    .client_block.slide
                                        ul.clients_previews
                                            li
                                                img(src='i/mothercare_screen.png' alt='mothercare preview')
                                        .client_info
                                            .client_logo
                                                img(src='i/mothercare_logo.png' alt='mothercare')
                                        
                                            p Более 20% наших онлайн-заказов идут через Фломни, что позволяет сэкономить на коллцентре и автоматизировать допродажи.

                                    .client_block.slide
                                        ul.clients_previews
                                            li
                                                img(src='i/krugrabot_screen.png' alt='krugrabot preview')
                                        .client_info
                                            .client_logo
                                                img(src='i/krugrabot_logo.png' alt='krugrabot')
                                        
                                            p Специфика массового набора заключается в непрерывной обработке большого массива резюме. КругРабот оперативно уведомляет соискателей о новых вакансиях, проводит первичный отбор кандидатов. В случае положительного результата кандидат регистрируется в системе и получает приглашение на дистанционное собеседование.

                                .text_center
                                    .clientSliderPrev.slide_prev
                                    .clientSliderNext.slide_next
                                
                            .text_center
                                a.btn_v3.btn_orange.client_btn.openJoinPopup(href='#' onclick="checkGoal('connect_buttonCases')")
                                    span Присоединиться
                                    
                    .section.section_v6
                        .section_inner
                            .caption_v4.text_center Интеграция со всеми популярными CMS “из коробки”
                                
                            .caption_v3.text_center 
                                | Интегрируйте чаты в несколько кликов с вашей CMS 
                                span.mob_hidden <br>
                                | и отслеживайте всю историю взаимодействия с вашими клиентами
                                
                            ul.integration_list
                                li 
                                    .integration_box
                                        .cms_logo
                                            img(src='i/1c.b.png' alt='1c.b')
                                        .cms_name 1С·БИТРИКС
                                        a.btn_v4.cms_btn.btn_blue.openJoinPopup(href='#' onclick="checkGoal('connect_buttonCMS1')")
                                            span Подключить к Flomni
                                                
                                li 
                                    .integration_box
                                        .cms_logo
                                            img(src='i/umi.png' alt='umi')
                                        .cms_name UMI.CMS
                                        a.btn_v4.cms_btn.btn_blue.openJoinPopup(href='#' onclick="checkGoal('connect_buttonCMS2')")
                                            span Подключить к Flomni
                                                
                                li 
                                    .integration_box
                                        .cms_logo
                                            img(src='i/netcat.png' alt='netcat')
                                        .cms_name NetCat
                                        a.btn_v4.cms_btn.btn_blue.openJoinPopup(href='#' onclick="checkGoal('connect_buttonCMS3')")
                                            span Подключить к Flomni
                                                
                                li 
                                    .integration_box
                                        .cms_logo
                                            img(src='i/host.png' alt='host')
                                        .cms_name HostCMS
                                        a.btn_v4.cms_btn.btn_blue.openJoinPopup(href='#' onclick="checkGoal('connect_buttonCMS4')")
                                            span Подключить к Flomni
                            
                            .text_center.dt_hidden
                                a.btn_v4.cms_btn.btn_blue.openJoinPopup(href='#' onclick="checkGoal('connect_buttonCMSAllMobile')")
                                    span Подключить к Flomni
                      
            .footer
                .section_inner
                    .copyright &copy; 2016 - 2017 ООО “Омнитек”.
                    //-ul.footer_menu
                        li: a(href='#') Сервис
                        li: a(href='#') Сценарии применения
                        li: a(href='#') Для бизнеса
                        li: a(href='#') Разработчикам
                        
        +popups()
        +scripts()
        