$icomoon-font-path: "fonts" !default;

$i-close: "\e904";
$i-cross: "\e905";
$i-chevron-right: "\e902";
$i-chevron-left: "\e903";
$i-vk: "\e900";
$i-fb_m: "\e901";
$i-telegram: "\e907";
$i-viber: "\e908";
$i-whatsup: "\e909";

